<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'core/partials/head.html' %}
</head>

<body class="min-h-screen flex flex-col">
    {% include 'core/partials/header.html' %}

    <!-- Main content -->
    <main class="pt-16 flex-grow bg-slate-100">
        <div class="container mx-auto p-4">
            <!-- Your content goes here -->
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'core/partials/footer.html' %}

    {% include 'core/partials/scripts.html' %}



</body>

</html>