{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Meet Your Advisors</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for teacher in teachers %}
        <div class="bg-white shadow-md rounded-lg p-4">
            {% if teacher.profile_picture %}
            <img src="{{ teacher.profile_picture.url }}" alt="{{ teacher.user.email }}"
                class="h-32 w-32 object-cover rounded-full mx-auto">
            {% else %}
            <img src="{% static 'core/img/default-profile.png' %}" alt="Default Profile"
                class="h-32 w-32 object-cover rounded-full mx-auto">
            {% endif %}
            <h2 class="text-xl font-semibold mt-4 text-center">{{ teacher.user.email }}</h2>
            <p class="text-center">{{ teacher.languages_taught }}</p>
            <p class="mt-2">{{ teacher.biography }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}