{% extends 'core/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="h-screen">
  <div class="h-full">
    <div class="flex h-full flex-wrap items-center justify-center lg:justify-between">
      <div class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
        <img src="{% static 'users/img/Lang-link-login.png' %}" class="w-full" alt="Login Image">
      </div>

      <!-- Right column container -->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <form method="POST">
          {% csrf_token %}
          {% if error %}
          <p class="text-red-600">{{ error }}</p>
          {% endif %}
          <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 dark:before:border-neutral-500 dark:after:border-neutral-500">
            <p class="mx-4 mb-0 text-center font-semibold dark:text-white">Login</p>
          </div>

          <!-- Email input -->
          <div class="relative mb-6">
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email address</label>
            <input
              type="email"
              name="email"
              id="email"
              value="{{ form.email.value|default:'' }}"
              class="block w-full rounded border border-gray-300 bg-white px-3 py-2 leading-6 text-gray-800 focus:border-primary focus:ring-2 focus:ring-primary transition-all outline-none"
              required />
          </div>

          <!-- Password input -->
          <div class="relative mb-6">
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="block w-full rounded border border-gray-300 bg-white px-3 py-2 leading-6 text-gray-800 focus:border-primary focus:ring-2 focus:ring-primary transition-all outline-none"
              required />
          </div>

          <!-- Remember me checkbox -->
          <div class="mb-6 flex items-center justify-between">
            <div class="flex items-center">
              <input type="checkbox" name="remember_me" id="rememberMeCheckbox"
                class="form-checkbox h-5 w-5 text-deep-teal border-deep-teal focus:ring-deep-teal">
              <label class="ml-2 text-gray-700 hover:cursor-pointer" for="rememberMeCheckbox">
                Remember me
              </label>
            </div>
          </div>

          <!-- Login button -->
          <div class="text-center lg:text-left">
            <button type="submit"
              class="inline-block w-full bg-deep-teal text-white px-4 py-2 rounded-lg hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-primary-dark-teal focus:ring-opacity-50"
              data-twe-ripple-init data-twe-ripple-color="light">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
