{% extends 'core/base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}

<div class="py-16 sm:py-20 mb-20">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extralight text-gray-900 sm:text-4xl text-center">Password Changed</h1>

    <p class="mt-6 text-lg/8 text-gray-600">Your password has been successfully updated.</p>


    <div class="pt-6 mb-40">
      <a href="{% url 'student_profile' %}" 
       class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-white bg-deep-teal hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:text-sm">
        <!-- Chevron left icon-->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
        </svg>
        Back to Profile
    </a>

  </div>
  </div>
</div>
{% endblock %}
